@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circle-in-top-right {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(150% at top right);
  }
}

[transition-style="in:circle:top-right"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right both;
}
